
<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="num">Call: +1(438)939-6037</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1 text-left">
						<div id="fh5co-logo" >
                            <img class="" src="{{asset('images/logo_ts0.jpg')}}" alt="logo" >
                        </div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="active"><a href="{{path('oc_platform_home')}}">Home</a></li>
							<li><a href="{{path('oc_platform_about')}}">About Us</a></li>
							<li><a href="{{path('oc_platform_pricing')}}">Pricing</a></li>
							<li class="has-dropdown">
								<a href="blog.html">Projects</a>
								<ul class="dropdown">
									<li><a href="{{path('oc_platform_unity')}}">Video Games</a></li>
									
								</ul>
							</li>
							<li><a href="{{path('oc_platform_contact')}}">Contact</a></li>
                            {% if 21 < 12 %}
                                <li><a href="profile.php">My profile</a></li>
                                <li><a href="textchat_demo.php">Text Chat</a></li>
                            {% endif %}
                    
                            {% if 1 < 12 %}
							<li class="btn-cta"><a href="log_reg"><span>Sign Up | Login</span></a></li>
                            {% else %}
                                <li><a href="logout.php"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
                            {% endif %}
							<li class="btn-cta"><a href="#"><span>Create a Course</span></a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>